@model IEnumerable<CommonModels.EF.Product>
@using MyProject.Models;
@{
    ViewBag.Title = "List of products";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section jsFooter{
    <script>
        function Remove(id) {
            var conf = confirm("Bạn xác nhận muốn xóa! Sau khi xóa dữ liệu sẽ không được phục hồi");
            if (conf == true) {
                $.ajax({
                    url: '/Admin/Products/Delete',
                    type: 'POST',
                    data: {
                        'id': id
                    }
                }).done(function (data) {
                    if (data.message == 1) {
                        alert("Xóa thành công");
                        location.reload();
                    }
                    else {
                        alert("Xóa thất bại");
                    }
                })
            }
        }
    </script>
}
<style>
    .btn-outline.red:hover {
        border-color: #e7505a;
        color: #fff;
        background: #e7505a;
    }


    .btn-outline.red {
        border-color: #e7505a;
        color: #e7505a;
        background: 0 0;
        /*border-radius: 20px;*/
        width: 27%;
    }

        .btn-outline.red:active {
            position: relative;
            top: 2px;
        }

    .btn-outline.blue:hover {
        background-color: #5bc0de;
        border-color: #46b8da;
        color: #fff;
    }

    .btn-outline.blue {
        border-color: #17a2b8;
        color: #17a2b8;
        background: 0 0;
        /*border-radius: 20px;*/
        width: 27%;
    }

        .btn-outline.blue:active {
            position: relative;
            top: 2px;
        }
</style>

@section header{
    Danh sách sản phẩm
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    @ViewBag.Success
    </div>
    <div class="product-status mg-b-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap">
                        @*<h4>Products List</h4>*@
                        <div class="add-product">
                            <a href="/Admin/Products/AddProducts/" class="btn btn-warning">Thêm mới</a>
                        </div>
                        <table>
                            <tr>
                                <th>Hình ảnh</th>
                                <th>Tên sản phẩm </th>
                                <th>Trạng thái</th>
                                <th>Ngày đăng</th>
                                <th>Giá tiền</th>
                                <th>Thao tác</th>
                                <th></th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr id="@item.ID">
                                    <td><img src="@item.Image" alt="" /></td>
                                    <td>@item.Name</td>
                                    <td>
                                        @if (item.Status == true)
                                        {
                                            <button class="pd-setting">Còn hàng</button>
                                        }
                                        else
                                        {
                                            <button class="ds-setting">hết hàng</button>
                                        }

                                    </td>
                                    <td>@item.CreatedDate</td>
                                    <td>@item.Price.GetValueOrDefault(0).ToString("N0")<sup>đ</sup></td>
                                    <td>
                                        <a href="/Admin/Products/EditProducts/@item.ID"><i class="fa fa-pencil-square-o btn btn-icon-only btn-circle btn-outline blue"></i></a>
                                        @*<a title="Cập nhật" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>*@
                                        @*<button onclick="xoa(@item.ID)" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>*@
                                        <a onclick="Remove(@item.ID)"><i class="fa fa-trash btn btn-icon-only btn-circle btn-outline red"></i></a>
                                    </td>
                                    <td>
                                        <a href="/Admin/Products/ProductsDetail/@item.ID" class="btn btn-success">Xem chi tiết</a>
                                    </td>
                                </tr>
                            }
                        </table>
                        @if (ViewBag.TotalPage >= 1)
                        {
                            var pageDisplay = (int)ViewBag.MaxPage;
                            var totalPage = (int)ViewBag.TotalPage;
                            var currentPage = ((int)ViewBag.Page);

                            // Create numberic link
                            var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                            var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                            var link = "/Admin/Products/ListProducts";

                            <div class="custom-pagination">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="@link?page=@ViewBag.First">Previous</a></li>
                                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                                    {
                                        if (currentPage == i)
                                        {
                                            <li class="page-item"><a class="page-link active" href="@link?page=@i">@i</a></li>
                                        }
                                        else
                                        {
                                            <li class="page-item"><a class="page-link " href="@link?page=@i">@i</a></li>
                                        }
                                    }
                                    <li class="page-item"><a class="page-link" href="@link?page=@ViewBag.Last">Next</a></li>
                                </ul>
                            </div>
                        }
                        else { }
                    </div>
                </div>
            </div>
        </div>
    </div>




